.header {
    display: flex;
    justify-content: space-between;
    background-color: #f5f53a;
    padding: 0.5em;
    font-size: 20px;
}

.logo,
.logout {
    font-weight: 600;
    margin: 0 1em;
    cursor: pointer;
}

.logo:hover , .logout:hover {
    color: blue;
}